.movie:hover{
    color: rgb(229, 11, 131) !important;
text-decoration: underline !important;
    
}

.movie1:hover{
    color: rgb(230, 16, 169) !important;
    text-decoration: underline !important;

    
}